:root {
  --box-size: 338px;
}

html, body {
  font-family: helvetica, arial, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  width: 100vw;
  height: 100vh;
}

canvas {
/*   background-color: black; */
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:0;
}

.displayBox {
  top: calc(50% - var(--box-size)/2);
  left: calc(50% - var(--box-size)/2);
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 15px;
  text-shadow: 1px 1px black;
  box-shadow: 3px 3px white;
  width: var(--box-size);
  height: var(--box-size);
  position:fixed;
  z-index:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin: 5px;
} 

.displayBox span {
  font-weight: bold;
  text-decoration: underline;
}